# CONFIG_MCORE_KTABLES is not set
# CONFIG_MCORE_FPMONITORD is not set
# CONFIG_MCORE_RFPVI is not set
# CONFIG_MCORE_FPM_NFCT is not set

# CONFIG_MCORE_SDSIFD is not set
# CONFIG_MCORE_EMBEDDED_SCRIPTS is not set
