# Copyright 6WIND, 2014, All rights reserved.
#
# This is the configuration file template for the fast path.
# Edit it prior to starting the fast path.
#   default location: /usr/local/etc
#   default file name: fast-path.env

#######################
##### EAL OPTIONS #####
#######################

## Mandatory.
## NB_MEM_CHANNELS defines the total number of memory channels to be used
## by mbufs.
: ${NB_MEM_CHANNELS:=3}

## Mandatory.
## FP_MASK defines which cores runs the fast path.
: ${FP_MASK:=0x2}

## Optional.
## NB_HUGEPAGES defines the number of hugepages to allocate.
#: ${NB_HUGEPAGES:=256}

## Optional.
## HUGEPAGES_DIR defines the hugepages mountpoint.
#: ${HUGEPAGES_DIR:=/mnt/huge}

## Optional.
## FP_MEMORY defines how much memory from the hugepages is used by the fast path
#: ${FP_MEMORY:=256}

## Optional.
## IGNORE_NETDEV specifies which netdev interfaces must be skipped by dpdk
#: ${IGNORE_NETDEV:=eth0 eth1}

## Optional.
## EAL_OPTIONS specifies additional EAL options
#: ${EAL_OPTIONS:=-b 0000:00:01.0}

###########################
##### FPN-SDK OPTIONS #####
###########################

## Optional.
## CORE_PORT_MAPPING maps fast path cores with network ports.
#: ${CORE_PORT_MAPPING:="c1=0/c1=1/c1=2/c1=3"}

## Optional.
## EXC_LCOREID defines the lcore id handling exceptions (tun/tap case).
#: ${EXC_LCOREID:=0}

## Optional.
## NB_MBUF defines the number of mbuf to add in the pool.
#: ${NB_MBUF:=16384}

## Optional.
## FPNSDK_OPTIONS specifies additional FPNSDK options.
#: ${FPNSDK_OPTIONS:= -q 8}

######################
##### FP OPTIONS #####
######################

## Optional.
## FP_OPTIONS specifies additional fast path options.
#: ${FP_OPTIONS:=}

########################
##### DPVI OPTIONS #####
########################

## Optional.
## DPVI_MASK defines cores allocated to exception packet processing.
#: ${DPVI_MASK:=0x1}

## Optional.
## DPVI_OPTIONS specifies additional DPVI options.
#: ${DPVI_OPTIONS:=}
